* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: hsl(30, 38%, 92%);
    display: flex;
    flex-direction: column;
    height: 100dvh;
    --color-name: hsl(212, 21%, 14%);
    --color-text: hsl(228, 12%, 48%);
    --color-price: hsl(158, 36%, 37%);
    --color-price-active:hsl(158, 42%, 18%);
    --color-card: hsl(0, 0%, 100%);
    --color-background: hsl(30, 38%, 92%);
    --font-size-text: clamp(.8rem, 1vw , 1.3rem);
    --font-size-important: clamp(2.1rem,2.7vw , 3rem);
    --font-size-button: clamp(1rem, 1.5vw, 2rem);
    --line-height-name: clamp(1.8rem, 2vw, 3rem);
    --card-width: clamp(18.75rem, 50vw ,40.25rem);
}

.card {
    margin: auto;
    width: var(--card-width); 
    height: fit-content;
    background-color: var(--color-card);
    border-radius: .7rem;
}

.card__img img {
    width: 100%;
    height: 100%;
    border-radius: .7rem .7rem 0 0;
    object-fit: cover;
}

.card__img {
    height: 12.5rem;
}

.card__content {
    padding: 1.2rem 1rem;
}
.card__product {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: var(--font-size-text);
    letter-spacing: .4rem;
    color: var(--color-text);
}

.card__name {
    font-family: "raunces", serif;
    font-weight: 700;
    font-size: var(--font-size-important);
    line-height: var(--line-height-name);
    color: var(--color-name);
    margin-block-start: .5rem;
}

.card__description {
    font-family: "Montserrat" ,sans-serif;
    font-weight: 500;
    font-size: var(--font-size-text);
    line-height: 1.2rem;
    color: var(--color-text);
    margin-block-start: .5rem;
}

.card__prices-container {
    display: flex;
    align-items: center;
    margin-block-start: .5rem;
}

.card__prices-container .card__price:first-child {
    color: var(--color-price);
    font-family: "raunces", serif;
    font-weight: 700;
    font-size: var(--font-size-important);
}

.card__prices-container .card__price:last-child {
    font-size: var(--font-size-text);
    font-family: "Montserrat", sans-serif;
    text-decoration: line-through;
    font-weight: 500;
    margin-inline-start: .7rem;
    color: var(--color-text);
}

.card__button {
    background-color: var(--color-price);
    color: hsl(0, 0%, 100%);
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    border-radius: .5rem;
    margin-block-start: .5rem;
}

.card__button p {
    font-size: var(--font-size-button);
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
}

.card__button:active {
    background-color: var(--color-price-active);
}

.attribution {
    font-size: .8rem;
    background-color: var(--color-price);
    padding: .7rem 0;
    text-align: center;
    text-wrap: pretty;
    color: var(--color-name);
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}

.attribution a {
    text-decoration: none;
    color: var(--color-card);
}

/* --- MEDIA  QUERIES --- */

@media screen and (min-width:65rem) {
    .card{
        display: flex; 
        height: fit-content;
    }

    .card__img{
        height: 100%;
        flex: 1;
    }

    .card__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 2rem;
        flex: 1;
    }
    .card__img img {
        border-radius: .7rem 0 0 .7rem;
    }
}

